@import "variables";

.citiesList {
  display: flex;
  flex-direction: column;
  margin: 0 -0.75rem;

  &__item {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem;
    margin: 0 0.75rem;
  }
}

.citySelector {
  display: flex;
  flex-direction: column;
  padding: $padding;

  > h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  > p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  > .searchBox__wrap {
    margin: 3rem 0;
    @media (min-width: $breakpoint) {
      margin: 5rem 0;
    }


    &.searchBox--error {
      margin-bottom: 0;
      color: $errorColor;

      .searchBox {
        border-color: $errorColor;

        button {
          background: $errorGradient;
        }
      }

      > .searchBox__error {
        padding-bottom: 1rem;
        display: inline-flex;
        align-items: center;
        font-size: 1.25rem;
        height: 3rem;
        @media (min-width: $breakpoint) {
          height: 5rem;
        }
      }
    }

    > searchBox__suggestions {
      border-radius: 2rem;
      position: absolute;
      box-shadow: $shadow;
      padding-top: 42px;
      @media (min-width: $breakpoint) {
        padding-top: 69px;
      }
    }
  }

  > h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  > .citiesList {
    flex-direction: row;
    flex-wrap: wrap;

    > .citiesList__item {
      flex: 0 1 calc(50% - 1.5rem);
      border-bottom: 1px solid $borderColor;

      &:hover {
        box-shadow: $shadow;
        border-bottom: 1px solid transparent;
        border-radius: 3rem;
        cursor: pointer;
      }

      &:active {
        background-color: $borderColor;
      }
    }
  }
}

.deliveryOptionsList {
  $mobilePad: 20px;
  $desktopPad: 100px;

  display: flex;
  flex-direction: column;
  padding: $mobilePad;
  overflow: hidden;
  background-color: $deliveryOptionsBackground;

  border-radius: $deliveryOptionsBorderRadius $deliveryOptionsBorderRadius 0 0;
  @media (min-width: $breakpoint) {
    border-radius: $deliveryOptionsBorderRadius 0 0 $deliveryOptionsBorderRadius;
    padding: $desktopPad;
  }

  &__placeholder {
    object-fit: cover;
    margin: -$mobilePad;
    @media (min-width: $breakpoint) {
      height: 100vh;
      max-width: 50vw;
      margin: -$desktopPad;
    }
  }

  &__item {
    height: 14rem;
    display: flex;
    max-width: 450px;
    margin: 1rem;
    cursor: pointer;
    background-color: white;
    border-radius: $deliveryOptionsListItemBorderRadius;

    &:not(#{&}--unavailable):hover {
      box-shadow: $shadow;
    }

    &--unavailable {
      opacity: 0.625;
      cursor: unset;
    }

    > .wrapper {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      padding: 2rem 1.25rem 2rem 2rem;

      > .text_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > .item__name {
          font-size: 2.25rem;
          font-weight: bold;
          color: $darkTextColor;
        }

        > .item__price {
          font-size: 3rem;
          font-weight: bold;
          color: $priceTextColor;
        }
      }

      > .item__type {
        height: 86px;
        width: 86px;
        align-self: flex-end;
        @media (min-width: $breakpoint) {
          height: 164px;
          width: 164px;
        }
      }
    }

    > .item__isSelected {
      flex: 0 0 auto;
      width: 42px;
      height: 100%;
      object-fit: contain;
      padding: 0.5rem;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      background: $gradient;
      @media (min-width: $breakpoint) {
        width: 72px;
        padding: 1rem;
      }
    }
  }
}

.searchBox__wrap {
  position: relative;
  max-width: 500px;
}

.searchBox {
  z-index: 10;
  border-radius: 2rem;
  border: 1px solid $borderColor;
  background-color: white;

  &__field {
    display: flex;
    border-radius: inherit;

    > input,
    > button {
      outline: none;
      border: none;
      font-size: 1.25rem;
      font-weight: bold;
      @media (min-width: $breakpoint) {
        font-size: 1.5rem;
      }
    }

    > input {
      flex: 1 1 auto;
      min-width: 200px;
      padding: 1rem 1.5rem;
      border-radius: inherit;

      &::-webkit-input-placeholder {
        font-weight: normal !important;
        color: $placeholderColor;
      }

      @media (min-width: $breakpoint) {
        padding: 1.25rem 2rem;
      }
    }

    > button {
      display: block;
      flex: 0 0 auto;
      padding: 1rem;
      margin: -1px;
      color: white;
      background: $gradient;
      border-radius: inherit;
      text-transform: uppercase;
      @media (min-width: $breakpoint) {
        padding: 1.25rem 3rem;
      }
    }
  }
}

#main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 80px auto auto auto;

  > .header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    @media (min-width: $breakpoint) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  > .citySelector {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    @media (min-width: $breakpoint) {
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  > .deliveryOptionsList {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    @media (min-width: $breakpoint) {
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 3;
    }
  }

  > .footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    @media (min-width: $breakpoint) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}