@import "variables";

.searchBox__wrap {
  position: relative;
  max-width: 500px;
}

.searchBox {
  $radius: 2rem;
  z-index: 10;
  border-radius: $radius $radius 0 0;
  background-color: white;

  $fullHsm: 42px;
  $fullHlg: 69px;

  @mixin shadow {
    &:before {
      content: " ";
      width: 100%;
      height: $fullHsm;
      box-shadow: $shadow;
      border-radius: inherit;
      position: absolute;
      z-index: -1;
      @media (min-width: $breakpoint) {
        height: $fullHlg;
      }
    }
  }

  &__field {
    display: flex;
    border-radius: $radius;
    border: 1px solid $borderColor;

    &.active {
      border-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include shadow;
      &:before {
        margin: -1px;
      }
    }

    > input,
    > button {
      outline: none;
      border: none;
      font-size: 1.25rem;
      font-weight: bold;
      @media (min-width: $breakpoint) {
        font-size: 1.5rem;
      }
    }

    > input {
      flex: 1 1 auto;
      min-width: 200px;
      padding: 1rem 1.5rem;
      border-radius: $radius;

      &::-webkit-input-placeholder {
        font-weight: normal !important;
        color: $placeholderColor;
      }

      @media (min-width: $breakpoint) {
        padding: 1.25rem 2rem;
      }
    }

    > button {
      display: block;
      flex: 0 0 auto;
      padding: 1rem;
      margin: -1px;
      color: white;
      background: $gradient;
      border-radius: $radius;
      text-transform: uppercase;
      @media (min-width: $breakpoint) {
        padding: 1.25rem 3rem;
      }
    }

    & > &__suggestions {
      display: none;
      position: absolute;
      top: $fullHsm;
      left: 0;
      right: 0;
      background-color: white;
      cursor: pointer;
      border-radius: 0 0 $radius $radius;
      margin: 0;
      @media (min-width: $breakpoint) {
        top: $fullHlg;
      }

      @include shadow;

      > .citiesList__item {
        border-top: 1px solid $borderColor;
      }
    }

    &.active > &__suggestions {
      display: block;
    }

  }
}