$breakpoint: 1264px;
$deliveryOptionsBorderRadius: 40px;
$deliveryOptionsListItemBorderRadius: 20px;
$deliveryOptionsBackground: #F7F7F7;
$padding: 20px;
$borderColor: #E9F0EB;
$darkTextColor: #283044;
$lightTextColor: rgba(40, 48, 68, 0.5);
$priceTextColor: #78A1BB;
$placeholderColor: #D9E4DC;
$shadow: 0px 0px 20px rgba(120, 161, 187, 0.3);
$gradient: linear-gradient(279.56deg, #65B3E4 15.15%, rgba(120, 161, 187, 0) 171.55%);
$errorGradient: linear-gradient(279.56deg, #FF4757 15.15%, rgba(255, 255, 255, 0) 171.55%);
$errorColor: #FF4757;