$breakpoint: 1264px;
$deliveryOptionsBorderRadius: 40px;
$deliveryOptionsListItemBorderRadius: 20px;
$deliveryOptionsBackground: #F7F7F7;
$padding: 20px;
$borderColor: #E9F0EB;
$darkTextColor: #283044;
$lightTextColor: rgba(40, 48, 68, 0.5);
$priceTextColor: #78A1BB;
$placeholderColor: #D9E4DC;